* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  p {
    margin: 0;
  }
}

// Variables
$primary: #131722;
$blue: #2962ff;
$green: #00C800;


// COMMON
.site-wrapper {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $primary
}

.win {
  background-color: $green;
}

.open {
  background-color: #e6e610
}

.loss {
  background-color: #f0571f;
}

.icons {
  color: $blue;
}

// Common button styles
.button-blue {
  background: $blue;
  color: #fff;
  border: none;
  &:hover {
    background-color: darken($blue, 5%);
  }
};
.button-light {
  background: #a1a1a1;
  color: #000;
  border: none;
  &:hover {
    background-color: darken(#a1a1a1, 5%);
  }
}
.button-red {
  background: #d80707;
  color: #fff;
  border: none;
  &:hover {
    background-color: darken(#d80707, 5%);
  }
};

.edit-btn {
  background: #f6f208;
  color: #000;
  // border: none;
  border: 1px solid rgba(10, 10, 10, 0.2);
  &:hover {
    background-color: darken(#f6f208, 10%);
    color: #000;
    border: 1px solid rgba(10, 10, 10, 0.2);
  }
}

.back-btn {
  background: #fff;
  border: none;
  color: #000;
  margin-bottom: 5px;
  &:hover {
    color: $blue;
    transition: width 0.5s, height 0.5s;
    height: 26px;
    width: 26px;
  }
}
.add-btn {
  border-radius: 5px;
  height: 28px;
  width: 28px;
  margin: 2px 5px 2px 0;
  color: $blue;
  &:hover {
    transition: width 0.5s, height 0.5s;
    height: 30px;
    width: 30px;
  } 
}
.edit-delete-btns {
  display: flex;
  gap: 10px;
  .btn-50 {
    width: 50%;
  }
}

// ! Navbar
.navbar {
  background: $primary;
  color: #fff;
  #nav-dropdown {
    color: #fff;
  }
  .navbar-toggler-icon {
    color: #fff;
  }
  .nav-links-container {
    display: flex;
    width: 100%;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-auth-buttons {
    margin-left: 5px;
  }
}
// ! Home Page
.home-page {
  background-image: url(../assets/home2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  .hero-container {
    color: #fff;
  }
  .hero-title, .hero-btn {
    padding-top: 30px;
  }

}

// ! Dashboard 
.trades-filter-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: $primary;
  select, input {
    margin-left: 10px;
    border: none;
    background-color: $primary;
    border-bottom: 1px solid darken($blue, 15%);
    color: #fff;
  }
  ::placeholder {
    color: #fff;
    padding-left: 5px;
  }
}
.account-info-container {
  .title-box {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: $primary;
    align-items: center;
    padding: 8px 12px;
    font-size: 105%
  }
}
.main-stats-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  p {
    text-align: center;
  }
  p:last-child {
    font-weight: bold;
  }
}
.graph-title {
  background-color: $primary;
  color: #fff;
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 105%
}
.graph-container {
  display: flex;
  height: 250px;
  // width: 100% !important;
  margin: 5px 5px 10px 0px;
  background-color: rgba(10, 10, 10, 0.2);
}
.open-trades-title-heading {
  background-color: $primary;
  color: #fff;
  font-size: 105%;
  padding: 8px 2px;
}
.open-trades-title-heading, .open-trades-row {
  display: grid;
  grid-template-columns: 1.3fr .7fr .6fr 1.4fr;
  justify-items: center;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}

// Dropzone image
.dropzone-content {
  font-size: 0.8rem;
  padding-left: 5px;
  height: 100px;
  border: 1px dotted rgba(10, 10, 10, 0.2);
  display: flex;
  align-items: center;
}
.profile-image-input {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 5px;
}

.thumbsContainer {
  padding: 0;
  border: 1px dotted rgba(10, 10, 10, 0.2);
  max-height: 100px;
  .thumb-img {
    max-width: 100px;
  }
}

// Login & Register page
.auth-form-row {
  display: flex;
  justify-content: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  // height: calc(100vh - 140px);
  max-width: 600px;
  .auth-form-title {
    margin-bottom: 25px;
  }
  label {
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-left: 1px;
  }
  input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid $primary;
  }
  small {
    display: block;
    margin-bottom: 15px;
  }
}
.auth-footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .sign-in {
    margin-left: 7px;
    color: $blue;
  }
}

// ! Trade list page
.trades-page-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: $primary;
  padding: 5px 15px;
}
.trades-page-title-heading, .trade-list-row  {
  display: grid;
  grid-template-columns: repeat(7, [col] auto );
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: $primary;
  padding: 5px 15px;
  h3 {
    margin: 0;
  }
  .add-btn {
    margin: 0;
    padding: 0;
  }
  p {
    display: flex;
    align-items: flex-start;
    text-align: center;
    font-size: 90%;
    padding: 5px;
  }
  .setup {
    font-size: 80%
  }
}
.trades-list-container {
  margin: 0;
  width: 100%;
}
.trade-list-row {
  border-bottom: 1px solid #000;
  text-decoration: none;
  background-color: #fff;
  color: $primary;
  .status {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid rgba(10, 10, 10, 0.2);
    width: 65px;
    justify-content: center;
  }
}
.trade-status {
  margin: 0 auto;
}

// ! Trade form and execution form
.trade-form-container {
  margin-bottom: 20px;
  margin-top: 20px;
  .trade-form {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-left: 1px;
  }
  input {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid $primary;
    padding: 5px;

  }
  small {
    display: block;
    margin-bottom: 15px;
  }
  select {
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid $primary;
  }
  textarea {
    margin-bottom: 15px;
  }
}
// ! Single Trade page
.trade-single-page {
  margin: 0;
  width: 100%;
  .trade-page-container {
    margin: 0 15px;
  }
  .trade-recap-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .back-btn-container {
    margin: 0 24px;
  }
  .execution-title-box, .trade-heading-box-top {
    background-color: $primary;
    color: #fff;
    padding: 5x;
  }
  .trade-stats-box {
    margin: 10px 0;
  }
  .trade-heading-box-top {
    h3 {
      font-size: 1.3rem;
    }
  }
  .trade-heading-box-top, .trade-status-box, .single-stat, .execution-title-box, .execution-box, .trade-info-small   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    padding: 5px;
    h3 {
      margin: 0;
      padding-left: 5px;
    }
    p{
      margin: 0;
      padding-right: 5px;
    }
    .status {
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: bold;
      border: 1px solid rgba(10, 10, 10, 0.2);
    }
    .symbol {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .single-stat {
    font-size: 1.2rem;
  }
  .scrollbar {
    width: 100%;
    margin-bottom: 15px;
  }
  .execution-box {
    flex-direction: column;
    align-items: space-between;
  }
}
.execution-box-top, .execution-box-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  span {
    font-weight: bold;
  }
}
.execution-link, .trade-list-link {
  &:hover {
    color: lighten($primary, 10%);
  }
}
// Chart on Trade Single page
.trade-info-large {
  margin-bottom: 15px;
  h3 {
    padding: 0;
  }
}
#tradingview_38969 {
  height: 300px;
}
.trade-chart {
  margin-bottom: 15px;
}
.trade-info-small > h3 {
  padding-left: 0;

}
// Sessions
.sessions-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .session-list-view {
    height: calc(100vh - 80px);
    border: 1px solid $primary;
    width: 90%;
    padding: 0px;
    margin: 10px auto;
  }
  .session-main-view {
    height: calc(100vh - 80px);
    margin: 10px 5px 10px 5px;
    width: 90%;
    margin: 0 auto;
  }
  .session-list-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    padding: 5px 0;
    background-color: $primary;
    color: #fff;
  }
    h1 {
      font-size: 1.3rem;
      margin: 2px 0 2px 5px;
    }
    .session-tile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      margin: 0;
      border-bottom: 1px solid rgba(10, 10, 10, 0.2);
      &:hover {
        background-color: rgba(10, 10, 10, 0.1);
        cursor: pointer;
      }
    }
    .rating-p {
      border: 1px solid rgba(10, 10, 10, 0.2);
      padding: 5px 15px;
      margin-right: 10px;
      border-radius: 5px;
      font-weight: bold;
      width: 65px;
      text-align: center;
    }
    .session-date {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .session-main-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(10, 10, 10, 0.2);
      span {
        font-weight: bold;
      }
    }
    .session-main-body {
      .session-notes-title {
        border-bottom: 1px solid rgba(10, 10, 10, 0.2);
        font-weight: bold;
        margin-top: 15px;
      }
    }
  }
  .session-stats {
    margin-top: 15px;
    p:last-child {
      font-weight: bold;
    }
  }
  .session-stats-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    border-top: 1px solid rgba(10, 10, 10, 0.2);
  }

   // editor on blog forms
  .wrapperClassName {
    border: 1px solid  rgba(10, 10, 10, 0.2);
    margin-bottom: 15px;
    border-radius: 5px;
  }



@media only screen and (min-width: 768px) {

  // .graph-container {
  //   display: flex;
  //   height: 250px;
  //   width: 100% !important;
  // }

  // Navbar
.navbar {
  background: $primary;
  color: #fff;
  #nav-dropdown {
    color: #fff;
  }
  .navbar-toggler-icon {
    color: #fff;
  }
  .nav-links-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links, .nav-buttons {
    display: flex;
    flex-direction: row;
  }
  .nav-auth-buttons {
    margin-left: 5px;
  }
}
// Single trade page
.trade-single-page .trade-recap-container  {
  flex-direction: row;
  width: 100%;
  margin: 5px;
}
.trade-info-side, .trade-info-large {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 5px;
}
.trade-info-large {
  width: 60%;
  height: calc(100vh - 100px);
  .trade-info-small {
    width: 100%;
    margin: 0 5px;
  }
}
// Chart on Trade Single page
#tradingview_38969 {
  height: 500px;
}

// Sessions page
.sessions-page-container {
  flex-direction: row;
  justify-content: space-between;
  .session-list-view {
    width: 30%;
    padding: 0px;
    margin: 10px;
  }
  .session-main-view {
    margin: 10px 15px 10px 5px;
    width: 70%;
  }
  .session-main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  }
}

}